.log-section{
	margin-top: 9rem;
	margin-bottom: 25rem;
	.label-text{
		margin-bottom: 1rem;
		width: 42rem;
	}
	.btns-row{
		margin-top: 6rem;
	}
	.btns-add{
		.btn{
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
	}
	.register-stroke{
		margin-top: 4rem;
		a{
			margin-left: .5rem;
			margin-right: .5REM;
		}
	}
}

.separator{
	position: relative;
	align-self: flex-start;
	&::before{
		content: '';
		width: 1px;
		height: 44rem;
		position: absolute;
		top: -15rem;
		bottom: 0;
		left: 40%;
		background-color: $lightGrey;
	}
	span{
		display: block;
		background-color: #fff;
		position: relative;
		z-index: 2;
		height: 12rem;
		margin-right: 15%;
		line-height: 12rem;
		text-transform: uppercase;
		font-weight: $extraBold;
		font-size: 1.6rem;
	}
}