@media(max-width: 1366px){
	.header{
		padding: 4rem 3.4rem;
	}

	.breadcrumbs{
		top: 10rem;
		left: 3.4rem;
	}

	.menu{
		padding-left: 3.4rem;
		padding-right: 3.4rem;
	}

	.footer{
		padding: 3rem 3.5rem 2rem;
	}

	.footer-menu{
		margin-top: 6rem;
    	margin-bottom: 8rem;
	}

}