.question-modal{
  position: fixed;
  min-width: auto;
  min-height: auto;
  width: 100%!important;
  height: 100%!important;
  background-color: rgba(56,59,60, .8);
  top: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  .question-inner{
    position: absolute;
    overflow: hidden;
    width: 50rem;
    min-height: 20rem;
    max-height: max-content;
    border: 5px solid $primary;
    background-color: #ffffff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    max-width: 100%;
    pointer-events: none;
    .question-link{
      text-decoration: none;
    }
  }
}

.question-modal.show{
  opacity: 1;
  visibility: visible;
  .question-inner{
    pointer-events: all;
  }
}

.page-template-error h1{
  color: #FFFFFF;
}