/*breadcrumbs*/
.breadcrumbs{
	position: absolute;
	top: 11rem;
	left: 6.5rem;
	z-index: 30;
	transition: all .2s .8s ease-in-out;
	&.hidden{
		transition: all .1s ease-in-out;
	}
}

.breadcrumb-item{
	display: flex;
	align-items: center;
	text-decoration: none;
	&::before{
		content: '';
		background-image: url('./img/icons/back-arrow.svg');
		background-size: 2rem 2rem;
		display: block;
		width: 2rem;
		height: 2rem;
	}
	span{
		display: block;
		margin-left: 1rem;
		font-size: 1.6rem;
		font-weight: $extraBold;
		color: $primaryL;
	}
}

/*page*/

.page-title{
	background-color: $primary;
	padding-top: 22rem;
	padding-bottom: 14rem;
}

.page-title-center{
	text-align: center;
	.row{
		display: block;
	}
	h1{
		text-align: center;
	}
}

.page-title-expand{
	padding-bottom: 7rem;
	text-align: left;
	.btn-expand{
		margin: 12rem auto 0;
	}
}

.page-title-sm{
	padding-top: 15rem;
	padding-bottom: 3rem;
}


.page-title-lg{
	padding-top: 27rem;
	padding-bottom: 20rem;
}

.page-title-bottom{
	padding-bottom: 36rem;
}

.page-title-bottom-md{
	padding-bottom: 28rem;
}

.page-content{
	margin-top: 10rem;
	margin-bottom: 14rem;
}

.title-btn{
	margin-top: 14rem;
}

.page-title-bg{
	position: relative;
	overflow: hidden;
	.wrap{
		position: relative;
		z-index: 2;
	}
	.title-bg-img{
		z-index: 0;
	}
	&::after{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 81, 101, .9);
	}
}

.btn-expand{
	display: flex;
	justify-content: center;
	align-items: stretch;
	.icon{
		width: 2rem;
		height: 2rem;
		margin-left: 1rem;
		margin-top: -.2rem;
	}
	.opened, .closed{
		display: block;
		transition: all .6s ease-in-out;
	}
	.opened{
		opacity: 1;
		visibility: visible;
		max-height: 0;
	}
	.closed{
		opacity: 0;
		visibility: hidden;
		max-height: 0;
	}
	&.active{
		.icon{
			transform: rotate(180deg);
		}
		.closed{
			opacity: 1;
			visibility: visible;
		}
		.opened{
			opacity: 0;
			visibility: hidden;
		}
		& ~ .expanded-desc{
			opacity: 1;
			visibility: visible;
			max-height: 200rem;
			height: 100%;
			transition: max-height .6s ease-in-out,
						height .6s ease-in-out,
						opacity .4s .2s ease-in-out,
						visibility .4s .2s ease-in-out;
		}
	}

}

.expanded-desc{
	color: #fff;
	opacity: 0;
	visibility: hidden;
	max-height: 0;
	overflow: hidden;
	height: 0;
	display: block;
	transition: max-height .6s .4s ease-in-out,
				height .6s .4s ease-in-out,
				opacity .2s ease-in-out,
				visibility .2s ease-in-out;
}

.page-title-desc{
	display: block;
	color: #fff;
	margin-top: 5rem;
	margin-bottom: 10rem;
	&, span{
		font-size: 2rem;
		font-weight: $bold;
		letter-spacing: 0;
	}
	span{
		color: $secondary;
	}
}

.page-title-btns{
	a, button{
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}
}