/*FONTS*/

$font: 'Open Sans', sans-serif;

$light: 300;
$regular: 400;
$semiBold: 600;
$bold: 700;
$extraBold: 800;


/*COLOURS*/

$primary: #005165;
$primaryX: #065C71;
$primaryM: #136C82;
$primaryL: #439FB5;


$secondary: #ECBB45;

$lightGrey: #F1F1F1;
$grey: #ACACAC;
$darkGrey: #3B3B3B;

$warning: #FF5151;
